@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap');

body, html  {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container-1, .container-2, .container-3 {
    padding-left: 14%;
    padding-right: 14%;
    flex: 1;
}

.container-1    {
    color: #eee;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
}

.info-left {
    flex: 1;

    /* FIX THIS LATER */
    margin-right: 5%;
    /* FIX THIS LATER */
}

.info-right {
    flex: 1;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1 .top {
    margin-top: 2.5%;
}

.container-1 .bottom {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-height: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.container-3    {
    background-color: #e5e7eb;
}