@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap");


/* background-color: #222831;
background-color: #1d2028;
border: 2px solid #ffd369;
background-color: #393e46; */

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    
    padding-left: 8%;
    padding-right: 8%;

    overflow: hidden;

    background-color: #eee;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 6rem;
    cursor: pointer;
    margin: 4rem 0;
    transition: width 0.5s ease;
}

.logo:hover {
    width: 7rem;
    transition: width 0.5s ease;
}

.menu-icon {
    width: 3.5rem;
    cursor: pointer;
}

.nav-left, .nav-right {
    flex: 1;
}

.nav-left {
    text-align: left;
}

.nav-right {
    text-align: right;
}

.nav-left ul li {
    margin-left: 3rem;
}

.nav-right ul li {
    margin-right: 3rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;

    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ff105f;
}

.info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 5rem;
}

.col-1 h2 {
    font-size: 5.4rem;
}

.col-1 h3 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    font-weight: 100;
    margin: 2rem 0 1rem;
}

.col-1 p {
    font-size: 1.6rem;
    color: #9e9e9e;
    font-weight: 100;
    
    margin: 3rem 0;
    font-size: 2rem;
}

button {
    position: relative;
    width: 14rem;
    border: 0;
    padding: 1.2rem 1rem;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: width 0.5s ease;
}

button img {
    position: absolute; /* position the image absolutely within the button */
    top: 50%; /* position the image in the center of the button vertically */
    right: 1rem; /* position the image to the right of the button text */
    transform: translate(0, -50%); /* adjust the vertical position of the image */
    width: 2rem;
    opacity: 0;
    visibility: hidden;
    filter: invert(1);
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

button:hover img {
    opacity: 1; /* set the opacity to 1 on hover */
    visibility: visible;
}

button:hover {
    width: 16rem;
}

button span {
    font-size: 1.6rem;
}

.col-1::after {
    /* Line gradient left of the title */

    content: " ";
    width: 1rem;
    height: 57%;
    background: linear-gradient(#ff105f, #ffad06);
    position: absolute;
    left: -4rem;
    top: .8rem;
}

.col-2 {
    position: relative;
    flex-basis: 40%;
    display: flex;
    align-items: center;
}

.col-2 .floppa {
    width: 85%;
    
    border: 5px solid transparent; 
    background-clip: padding-box; 
    border-image: linear-gradient(#ff105f, #ffad06);
    border-image-slice: 1;
    
      
}